button {
    background-color: rgb(56, 231, 56);
    padding: 4px 4px;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

body {
    text-wrap: wrap;
}
