{% extends 'base.html.twig' %}

{% block title %}Hello RestaurantsController!
{% endblock %}

{% block body %}

	<table class="table-auto">
		<thead>
            <tr>
                <th>ID</th>
                <th>Nom du Restaurant</th>
                <th>Adresse</th>
            </tr>
        </thead>
		<tbody>
			{% for resto in restaurantslist %}
				<tr>
					<td>{{resto.id}}</td>
					<td>
						<a href="{{ path('app_restaurant', {'id': resto.id}) }}">{{resto.name}}</a>
					</td>
					<td>
						{{resto.adresse}}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
